.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
#start, #status{
    font-size: 22px;
}
.modal-body{
    text-align: left;
}
.footer{
    position: fixed;
    bottom: 0;
    margin: 0px;
    line-height: 3;
    background-color: azure;
    color: black;
    width: 100%;
    text-align: center;
}
#canvas{
    border: 5px solid white;
    border-radius: 23px;
    margin: 125px;
    margin-left: 300px;
    margin-right: 300px;
}